<%- include('../templates/header.ejs') %>

<main>

    <h2>EDITAR NOTICIA</h2>
    <form  action="/adminillo/editada/<%= noticias._id %>" method="post">
        <div class="formulario">
            
            <label hidden for="idAdmin">ID ADMIN: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
            <input hidden type="text" class="invariable" name="idAdmin"  value="<%= idAdmin  %>" readonly>
            <label hidden for="nombreAdmin">Nombre Admin: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
            <input hidden type="text" class="invariable" name="nombreAdmin"  value="<%= nombreAdmin  %> " readonly>


            <label hidden for="creador">ID creador: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
            <input hidden type="text" class="invariable" name="creador" id="creadorId" value="<%= idUsuario  %>" readonly>
            <label hidden for="nombreCreador">Nombre creador: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
            <input hidden type="text" class="invariable" name="nombrecreador" id="creadorId" value="<%= nombreUsuario  %> " readonly>

            <label for="titulo">Título:</label>

            <input type="text" value="<%= noticias.titulo %>" name="titulo">
            <label for="noticia">Cuerpo noticia:</label>
            <textarea name="noticia" id="noticiaId" rows="4" cols="50"> <%= noticias.noticia %> </textarea>
            <label for="imagensrc">URL Imagen:</label>
            <textarea name="imagensrc"> <%= noticias.imagensrc %></textarea>
            <label for="imagenalt">DESCRIPCIÓN IMAGEN:</label>
            <input type="text" name="imagenalt">
            
        </div>
        <button type="submit" class ="submit" id="editaPeli" _method="put" class="btn">Editar noticia</button>
    </form>
</main>
<%- include('../templates/footer.ejs') %>