<%- include('../templates/header.ejs') %>
    <%- include('../templates/navAdmin.ejs') %>


        <main>
            <h1>
                <%= titulo %>
            </h1>

            <table class="noticia">
                <thead>
                    <th>Título</th>
                    <th>Creador</th>
                    <th>Fecha</th>
                    <th>Descripción corta</th>
                    <th>Miniatura</th>
                    <th>Acción</th>
                    </thead>
                    <tbody>
                <% noticias.forEach(element=> { %>
                    


                        <tr>
                            <td>
                            <%= element.titulo %>
                        </td>
                      
                        <td> <a href="/adminillo/noticiaseditoradmin/<%= element.creador %>/<%= element.nombrecreador %>/<%= idUsuario %>/<%= nombreUsuario %>"><%= element.nombrecreador %>  </a>  </td>

                            <td><%= element.fecha %></td>
                                   <td>
                            <%= element.intronoticia %>
                        </td>

                        <td class="miniatura">
                            

                                <img src="/<%= element.imagensrc%>" >
                          
                            </td>


                            <td>  <a href="/adminillo/editar/<%= element.titulo %>/<%= element.creador %>/<%= element.nombrecreador %>/<%= idUsuario %>/<%= nombreUsuario %>">Editar</a>   
                                  <a href="/adminillo/borrar/<%= element.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>">Borrar</a> </td>
                            </tr>
                    
                    <% }) %>
                </tbody>
                </table>
        </main>
        <%- include('../templates/footer.ejs') %>