<%- include('../templates/header.ejs') %>
    <%- include('../templates/navAdmin.ejs') %>


        <main>
            <h1>
                <%= titulo %>
            </h1>

            <div class="flexContainer">
                <% noticias.forEach(element=> { %>
                    <div class="noticia">


                        <h3>
                            <%= element.titulo %>
                        </h3>
                        <p class="textCenter">CREADA POR: <a
                                href="/adminillo/noticiaseditoradmin/<%= element.creador %>/<%= element.nombrecreador %>/<%= idUsuario %>/<%= nombreUsuario %>"
                                class="btnTabla">
                                <%= element.nombrecreador %>
                            </a> el <%= element.fecha %>
                        </p>
                        <p class="cajanoticia">
                            <%= element.noticia %>
                        </p>

                        <div>
                            <figure>

                                <img src="<%= element.imagensrc%>" alt="<%= element.imagenalt%>">
                            </figure>
                        </div>

                       
                        <a href="/adminillo/editar/<%= element.titulo %>/<%= element.creador %>/<%= element.nombrecreador %>/<%= idUsuario %>/<%= nombreUsuario %>"
                            class="btnTabla">Editar</a>
                        <a href="/adminillo/borrar/<%= element.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>"
                            class="btnTabla">Borrar</a>

                    </div>
                    <% }) %>
            </div>
        </main>