<%- include('../templates/header.ejs') %>


<main>
    <h1><%= titulo %></h1>
    
    <div class="flexContainer">
        
            <div>
                <h3><%= usuario.email %></h3>
                <p><%= usuario.nombre %></p>
                <p><%= usuario.uid %></p>
                <p><%= usuario.role %></p>
                <p><%= usuario.token%></p>
                
                <a href="/adminillo/todasnoticiasadmin/<%= usuario.uid %>/<%= usuario.nombre %>" >Lista noticias</a>
                <a href="/adminillo/todosloseditoresadmin/<%= usuario.uid  %>/<%= usuario.nombre %>" >Lista editores</a>
                
            </div>
        
    </div>
</main>
<%- include('../templates/footer.ejs') %>