<%- include('templates/header.ejs') %>
<%- include('templates/nav.ejs') %>


<main>
    <h1><%= titulo %></h1>
    
    <div class="flexContainer">
        <% noticias.forEach(element => { %>
            <div class="noticia">
               
                <h3 class="textCenter"><%= element.titulo %></h3>
               
                
                
                <p class="cajanoticia"><%= element.noticia %></p>
               
                <div>
                    <figure>
                       
                        <img src="<%= element.imagensrc%>" alt="<%= element.imagenalt%>">
                    </figure>
                </div>
                <p class="textCenter"> <%= element.fecha %></p>
              
                
                
            </div>
        <% }) %>
    </div>
</main>