<%- include('templates/header.ejs') %>
<%- include('templates/nav.ejs') %>


<main>
    <h1><%= titulo %></h1>
    
    
        <% noticias.forEach(element => { %>
            <article class="noticia">
               
                <h3><a href="/buscada/<%= element.titulo %>" class="btnTabla"><%= element.titulo %></a></h3>
               
                
                <div class="parrafoCorto">
                <p ><%= element.intronoticia %></p>
               
                <div>
                   
                       
                        <img src="/<%= element.imagensrc%>" alt="<%= element.imagenalt%>">
                   
                </div>
            </div>
                <p class="textCenter"> <%= element.fecha %></p>
              
                
                
        </article>
        <% }) %>
    
</main>
<%- include ('templates/footer.ejs') %>