<%- include('templates/header.ejs') %>
<%- include('templates/nav.ejs') %>


<main>
    
    
    
    <h1><%= titulo %></h1>
   
    
       
            <article>
                <h3><%= noticias.titulo %></h3>
                <p>CREADA POR: <a href="/creadapor/<%= noticias.creador %>/<%= noticias.nombrecreador %>" class="btnTabla"><%= noticias.nombrecreador %></a> el <%= noticias.fecha %></p>
                <p class="parrafoLargo"><%= noticias.noticia %></p>
                <div>
                    
                       
                        <img src="/<%= noticias.imagensrc%>" alt="">
                  
                </div>
                
                
              
            </article>
      
    
</main>
<%- include ('templates/footer.ejs') %>