<%- include('templates/header.ejs') %>
<%- include('templates/nav.ejs') -%>


<main>
    
    
    
   <section>
    <div>
        <h1>BUSCA una noticia</h1>
        <label for="titulo">Título:</label>
        <input type="text" placeholder="título" name="titulo" id="tituloId"  />
        

        <a href = "javascript:;" onclick = "this.href='buscada/' + document.getElementById('tituloId').value">BUSCAR</a>


    </div>
</section>
<h1><%= titulo %></h1>
<section>
    
        <% noticias.forEach(element => { %>
            <article class="noticia">
                <h3><a href="buscada/<%= element.titulo %>" ><%= element.titulo %></a></h3>
                <p>CREADA POR: <a href="/creadapor/<%= element.creador %>/<%= element.nombrecreador %>" class="btnTabla"><%= element.nombrecreador %></a> el <%= element.fecha %></p>
                <div class="parrafoCorto">
                <p > <%= element.intronoticia %></p>
                <div>
                    
                       
                        <img src="<%= element.imagensrc%>" alt="<%= element.imagenalt%>">
                   
                </div>
            </div>
                
              
            </article>
        <% }) %>
    
</section>
</main>
<%- include ('templates/footer.ejs') %>