<%- include('templates/header.ejs') %>



<main>
    <h1><%= titulo %></h1>
    <div class="flexContainer">
        
            <div>
                <h3 class="textCenter"><%= usuario.email %></h3>
                <p class="textCenter"><%= usuario.nombre %></p>
                <p class="textCenter"><%= usuario.uid %></p>
                <p class="textCenter"><%= usuario.role %></p>
                
                
                
                <a href="../editor/crear/<%= usuario.uid  %>/<%= usuario.nombre %>" class="btnTabla">Crear Noticia</a>
                <a href="../editor/creadapor/<%= usuario.uid  %>/<%= usuario.nombre %>" class="btnTabla">Mis noticias</a>
                <a href="../editor/todasnoticias/<%= usuario.uid  %>/<%= usuario.nombre %>" class="btnTabla">Todas las noticias</a>
            </div>
        
    </div>
</main>
<%- include ('templates/footer.ejs') %>