<ul class="enlacesNav">
    <li><a href="/editor/creadapor/<%= idUsuario  %>/<%= nombreUsuario  %>" class="btnTabla">Mis noticias</a></li>
    <li> <a href="/editor/crear/<%= idUsuario  %>/<%= nombreUsuario  %>" class="btnTabla">Crear noticia</a></li>
    <li><a href="/editor/todasnoticias/<%= idUsuario  %>/<%= nombreUsuario %>" class="btnTabla">Todas las noticias</a></li>
    <li> <a href="/" class="btnTabla">Cerrar sesión</a></li>
</ul>