<%- include('../templates/header.ejs') %>
<%- include('../templates/navLogeado.ejs') %>


<main>
    <h1><%= titulo %></h1>
    
    <div class="flexContainer">
        <% noticias.forEach(element => { %>
            <div class="noticia">
               
                <h3><a href="/editor/buscadaAjena/<%= element.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>" class="btnTabla"> <%= element.titulo %></a></h3>
               
                <div class="parrafoCorto">
                
                <p><%= element.noticia %></p>
               
                <div>
                    <figure>
                       
                        <img src="<%= element.imagensrc%>" alt="<%= element.imagenalt%>">
                    </figure>
                </div>
            </div>
                <p class="textCenter"> <%= element.fecha %></p>
              
                
                
            </div>
        <% }) %>
    </div>
</main>
<%- include('../templates/footer.ejs') %>