<%- include('../templates/header.ejs') %>
    <%- include('../templates/navLogeado.ejs') %>
        <main>

            <h2>EDITAR NOTICIA</h2>
            <form  action="/editor/editada/<%= noticias._id %>" method="post">
                <div class="formulario">
                    
                   
                    <label for="creador">ID creador: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
                    <input type="text" class="invariable" name="creador" id="creadorId" value="<%= idUsuario  %>" readonly>
                    <label for="nombreCreador">Nombre creador: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
                    <input type="text" class="invariable" name="nombrecreador" id="creadorId" value="<%= nombreUsuario  %> " readonly>

                    <label for="titulo">Título:</label>

                    <input type="text" value="<%= noticias.titulo %>" name="titulo">
                    <label for="noticia">Cuerpo noticia:</label>
                    <textarea name="noticia" id="noticiaId" rows="4" cols="50"> <%= noticias.noticia %> </textarea>
                    <label for="imagen">URL imagen:</label>
                    <textarea name="imagen" id="imagenId" rows="4" cols="50"> <%= noticias.imagen %> </textarea>
                    
                </div>
                <button type="submit" id="editaPeli" _method="put" class="btn">Editar noticia</button>
            </form>
        </main>