<%- include('../templates/header.ejs') %>
<%- include('../templates/navLogeado.ejs') %>


<main>
    <h1><%= titulo %></h1>
    
    <div class="flexContainer">
        <% noticias.forEach(element => { %>
            <div>
                <h3><a href="/editor/buscada/<%= element.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>" class="btnTabla"><%= element.titulo %></a></h3>
                <p class="textCenter"><%= element.fecha %></p>
                <p class="parrafoCorto"><%= element.noticia %></p>
                <p class="textCenter"><%= element.imagen %></p>
                <div class="fotos">
                    <figure>
                       
                        <img src="<%= element.imagensrc%>" alt="<%= element.imagenalt%>">
                    </figure>
                </div>
                <a href="/editor/editar/<%= element.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>" class="btnTabla">Editar</a>
                <a href="/editor/borrar/<%= element.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>" class="btnTabla">Borrar</a>
                
            </div>
        <% }) %>
    </div>
</main>