<%- include('../templates/header.ejs') %>
<%- include('../templates/navLogeado.ejs') %>



    <main>
       

        

            <article>
                <h2>  <%= noticias.titulo %></h2>
                <p class="parrafoLargo">  <%= noticias.noticia %></p>
                <div>
                    

                        <img src="/<%= noticias.imagensrc%>" alt="<%= noticias.imagenalt%>">
                  
                </div>


            </article>
            <a  href="/editor/editar/<%= noticias.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>"
               >Editar</a>
                <a href="/editor/borrar/<%= noticias.titulo %>/<%= idUsuario %>/<%= nombreUsuario %>" >Borrar</a>
        
    </main>
    <%- include('../templates/footer.ejs') %>