<%- include('../templates/header.ejs') %>


<main>
    <h1><%= titulo %></h1>

    <div class="flexContainer">
        <% noticias.forEach(element => { %>
            <div>
                <h3 class="textCenter"><%= element.titulo %></h3>
                <p class="textCenter"><%= element.fecha %></p>
                <p class="textCenter"><%= element.noticia %></p>
                <p class="textCenter"><%= element.imagen %></p>
                <div>
                    <figure>
                       
                        <img src="<%= element.imagen%>" alt="">
                    </figure>
                </div>
                <a href="../editar/<%= element.titulo %>" class="btnTabla">Editar</a>
                <a href="../borrar/<%= element._id %>" class="btnTabla">Borrar</a>
                
            </div>
        <% }) %>
    </div>
</main>